*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightseagreen;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
li{
    display: inline-block;
    padding-left: 20px;
}
li , a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
a:hover{
    background-color: red;
    display: block;
    padding: 10px;
}
.firstShade{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-image: url('/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
button{
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: #fff;
    color: blue;
}