*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightseagreen;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
li{
    display: inline-block;
    padding-left: 20px;
}
li , a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    

}
a:hover{
    background-color: red;
    display: block;
    padding: 10px;
}